@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.wufoo li {
  width: 70% !important;
  margin: 0 auto !important; 
}

.wufoo li.date span {
  width: 31% !important;
}

.redesigned-theme-2018 .wufoo li span {
    width: 48% !important;
    margin: 0 2% 0 0 !important;
}

.redesigned-theme-2018 .wufoo input.text {
  width: 100% !important;
  border: 1px solid #e5e7eb !important;
  padding: 15px 14px 13px !important;
  border-radius: 4px !important;
}

.redesigned-theme-2018 .wufoo input.text:focus {
  border: 1px solid #0c0f3d !important;
box-shadow: 0px 0px 0px 2px #0c0f3d !important;
}


.redesigned-theme-2018 .wufoo label.desc {
  padding-bottom: 5px !important;
  font-size: 15px !important;
  color: #0c0f3d !important;
}

.redesigned-theme-2018 form span.req {
  top: 4px !important;
}

.span label { 
  font-size: 12px;
}

.wufoo li.focused {
  background: none !important;
}

.buttons .marker {
  width: auto !important
}
