.wufoo li {
  width: 70% !important;
  margin: 0 auto !important; 
}

.redesigned-theme-2018 .wufoo li span {
    width: 50% !important;
}

.redesigned-theme-2018 .wufoo input.text {
  width: 100% !important;
}

.redesigned-theme-2018 .wufoo label.desc {
  padding-bottom: 5px !important;
  font-size: 15px !important;
  color: #0c0f3d !important;
}

.redesigned-theme-2018 form span.req {
  top: 4px !important;
}
