/* Coindirect Arbitrage Service - WuFoo From Styling */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.redesigned-theme-2018 .wufoo {
  font-family: Inter,sans-serif !important;
}

.redesigned-theme-2018 #logo a,
.redesigned-theme-2018 .logo a {
    background-position: 24px 20px !important;
    background-size: 140px 40px !important;
    margin-bottom: 0 !important;
}

.redesigned-theme-2018 .wufoo .info h2 {
  font-size: 28px !important;
  font-weight: 600 !important;
}

.redesigned-theme-2018 .wufoo .section h3 {
  margin-top: 0 !important;
  text-align: center !important;
}

.redesigned-theme-2018 .wufoo .info div {
  font-size: 20px !important;
}

.redesigned-theme-2018 .wufoo .paging-context {
  margin-bottom: 25px !important;
}

.wufoo li {
  width: 70% !important;
  margin: 0 auto !important; 
}

.redesigned-theme-2018 .wufoo li span {
  width: 48% !important;
  margin: 0 2% 0 0 !important;
}

.redesigned-theme-2018 .wufoo li.date span {
  width: 27% !important;
}

.redesigned-theme-2018 .wufoo li.date #cal5 {
  width: 10% !important;
}

.redesigned-theme-2018 .wufoo input.text {
  width: 100% !important;
  border: 1px solid #ccc !important;
  padding: 15px 14px 13px !important;
  border-radius: 4px !important;
}

.redesigned-theme-2018 .wufoo input.medium+label {
  width: 100% !important;
}

.redesigned-theme-2018 .wufoo .wufoo-dropdown-control {
  height: 48px !important;
  width: 100% !important;
}

.redesigned-theme-2018 .wufoo li .wufoo-dropdown-menu li {
  width: 100% !important;
}

.redesigned-theme-2018 .wufoo li .wufoo-dropdown-menu li:hover {
  background-color: #0c0f3d !important;
  color: #fff !important;
}

.redesigned-theme-2018 .wufoo input.text:focus {
  border: 1px solid #0c0f3d !important;
  box-shadow: 0px 0px 0px 2px #0c0f3d !important;
}

.redesigned-theme-2018 .wufoo label.desc {
  padding-bottom: 5px !important;
  font-size: 15px !important;
  color: #0c0f3d !important;
}

.redesigned-theme-2018 form span.req {
  top: 4px !important;
}

.span label { 
  font-size: 12px;
}

.wufoo li.focused {
  background: none !important;
}

.redesigned-theme-2018 .wufoo .wufoo-file-upload {
  width: 100% !important;
}

.redesigned-theme-2018 .buttons {
  width: 70% !important;
}

@media only screen and (max-width: 580px) {
  .redesigned-theme-2018 .buttons {
    width: 100% !important;
  }
  
  .redesigned-theme-2018 .wufoo .section h3 {
    font-size: 18px !important; 
  }
}

.redesigned-theme-2018 .buttons .marker {
  width: auto !important;
}

.redesigned-theme-2018 input.btTxt {
  background-color: #ea4363 !important;
  color: #fff !important;
  border-radius: 50px !important;
  border: none !important;
}

.redesigned-theme-2018 button#previousPageButton {
  border-radius: 50px !important;
  border: 1px solid #ea4363 !important;
}
